:root {

  /* Primary */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral */
  --Transparent-white: hsla(0, 0%, 100%, 0.75);   /* (paragraphs) */
  --Very-light-gray: hsl(0, 0%, 95%);    /* (background, headings, buttons) */

  /* Body Copy */
  --Font-size: 15px;

  /* Font */
  --Family-Lexend-Deca: 'Lexend Deca', sans-serif;
  --Family-Big-Shoulders-Display: 'Big Shoulders Display', cursive;

  --Weight-1: 400;
  --Weight-2: 700;
}

.Bright-orange{
 background-color: var(--Bright-orange);
}
.Bright-orange-button{
  border: none;
  color: var(--Bright-orange);;
  cursor: pointer
}

.Dark-cyan{
  background-color: var(--Dark-cyan);
}
.Dark-cyan-button{
  border: none;
  color: var(--Dark-cyan);
  cursor: pointer
}

.Very-dark-cyan{
  background-color: var(--Very-dark-cyan);
}
.Very-dark-cyan-button{
  border: none;
  color: var(--Very-dark-cyan);
  cursor: pointer
}

body{
  margin: 0px;
  height: 100vh;
  font-family: var(--Family-Lexend-Deca);
  font-size: var(--Font-size);

  display: flex;
  justify-content: center;
  align-items: center;
}



.card:first-child{
  border-radius: 10px 0px 0px 10px;
}

/* .card:last-child{
  border-radius: 0px 10px 10px 0px;
} */


.card{
  width: 290px;
  height: 450px;
}

.card-content{
  padding: 0px 40px;
}
.card-content_logo{
  padding-top: 45px;
}

.card-content_title{
  font-family: var(--Family-Big-Shoulders-Display);
  font-weight: var(--Weight-2);
  color: var(--Very-light-gray);
  text-transform: uppercase;
  font-size: 30px;
}
.card-content_info{
  font-weight: var(--Weight-1);
  color: var(--Transparent-white);
  margin-top: 30px;
}

.card-content_button:hover{
  color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  background-color: transparent;
  transition: 0.3s;
}
.card-content_button{
  padding: 12px 25px;
  border-radius: 20px;
  margin-top: 75px;
}

